.aviso a {
    color: #145090;
    font-size: 14px;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
  }

  .blue-links {
    color: #145090;
    font-size: 1.35rem;
    cursor: pointer;
    font-weight: bold;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .spacing {
        margin-bottom: 30px;
    }
}
